<p id="notice"><%= notice %></p>

<h1>Event Venues</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @event_venues.each do |event_venue| %>
      <tr>
        <td><%= link_to 'Show', event_venue %></td>
        <td><%= link_to 'Edit', edit_event_venue_path(event_venue) %></td>
        <td><%= link_to 'Destroy', event_venue, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event Venue', new_event_venue_path %>
